body{
     margin: 0px;
}
button{
     border: none;
     background-color: transparent;
     cursor: pointer;
}
button:active{
     border: none;
     cursor: pointer;

     background-color: transparent;
}
@font-face {
     font-family: 'Montserrat';
     src: url(/assets/fonts/Montserrat-Regular.ttf);
}
.row {
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.row__inner {
     width: 1033px;
     height: max-content;
     display: flex;
}

/* 1 col */
.col__1 {
     flex-grow: 1;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: start;
     align-items: center;
}
.col__1__inner {
     width: 325px;
     height: 405px;
     
}
.col__text-and-arrow-btn {
     display: flex;
     justify-content: space-between;
}
.col__arrow-btn {
     width: max-content;
     position: relative;
     z-index: 10;
}
.col__text {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     font-size: 40px;
     line-height: 100%;
     color: #000;
}
.col__block {
     margin-top: 60px;
     width: 142px;
     height: 142px;
     border-radius: 100px;
     background-color: #FDF5F5;
}
.col__block__logo_yandex img {
     width: 151px;
     height: 43px;
     margin-top: 25px;
}
.col__block__numder {
     font-family: 'Montserrat';
     font-size: 40px;
     text-align: center;
}


.col__button {
     width: 100%;
     height: max-content;
     margin-top: 120px;
     
}

.col__button_inner {
     font-family: 'Montserrat';
     color:#fff;
     width: 251px;
     height: 52px;
     background-color: #E28383;
     border-radius: 28px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.col__block__stars{
     margin-top: 35px;
     height: 23px;
}

/* 2 col slider */
.col__2 {
     /* overflow: hidden; */
     flex-grow: 1;
     width: 100%;
     height: 100%;
}
.slider{
     width: 500px;
     height: 610px;

     margin-left: auto;
     margin-right: auto;

     display: flex;
     justify-content: center;

     position: relative;
     
}
.swiper {
  width: 500px;
  height: 610px;
  left:-9px;
  
}
.swiper-wrapper {
     left: -200px;
     margin-left: 0px;
     margin-right: 350px;
}
.swiper-slide img{
     display: block;
     width: 191px;
     height: 401px;
     object-fit: cover;
     text-align: center;
     /* opacity: 0.5; */
     position: relative;
     transition: 0s;
     margin-left: 150px;
     margin-right: 150px;
     float: left;
     
}
.swiper-slide{
     display: flex;
}
.swiper-slide-prev img {
     display: block;
     width: 191px;
     height: 401px;
     object-fit: cover;
     text-align: center;
     opacity: 0.5;
     position: relative;
     top:10%;
     left: 40%;
     
     z-index: -1;
     transition: 0.3s;
     transition-delay: 0.3;
}
.swiper-slide-prev {
     
}
.swiper-slide-next img {
     display: block;
     width: 191px;
     height: 401px;
     object-fit: cover;
     text-align: center;
     opacity: 0.5;
     position: relative;
     margin-left: 200px;
     top:10%;
     left:-15%;
     z-index: -1;
     transition: 0.3s;
     transition-delay: 0.3;
}
.swiper-slide-next{
     z-index: -1;
     margin-right: 200px;
}
.pagination{
     display: flex;
     justify-content: center;
}
.swiper-slide-active img {
     display: block;
     width: 285px;
     height: 600px;
     object-fit: cover;
     transition: 0.3s;
     transition-delay: 0.3s;
}

.swiper-pagination{
     width: 100%;
     height: 20px;
}

.item_slide{
     width: 285px;
     height: 600px;
}

.col__2 .swiper-pagination-bullet {
     background-color: #E28383;
}
/* @media (min-width:1920px) {
     .swiper {
          width: 500px;
          height: 610px;
          left:-9px;
          
     }
} */
@media (max-width:375px) {

     .row {
          width: 100%;
          max-height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;

     }
     .row__inner {
          width: 1033px;
          height: 954px;
          display: flex;
     }
     .col__1{
          width: 0px;
          margin-bottom: -1000px;
     }
     .col__1__inner {
          width: 325px;
          height: 954px;
          margin-top:300px;
     }
     .pagination{
          display: none;
     }
     .col__arrow-btn {
          width: max-content;
          position: relative;
          z-index: 10;
          top: 880px;
          left:10px;
     }
     .col__text {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 100%;
          color: #000;
     }
     .col__block {
          margin-top: 60px;
          width: 142px;
          height: 142px;
          border-radius: 100px;
          background-color: #FDF5F5;
          position: relative;
          left: 90px;
     }
     .col__block__logo_yandex img {
          width: 151px;
          height: 43px;
          margin-top: 25px;
     }
     .col__block__numder {
          font-family: 'Montserrat';
          font-size: 40px;
          text-align: center;
     }
     
     
     .col__button {
          width: 100%;
          height: max-content;
          margin-top: 120px;
          margin-left: 45px;
          
     }
     
     .col__button_inner {
          font-family: 'Montserrat';
          color:#fff;
          width: 251px;
          height: 52px;
          background-color: #E28383;
          border-radius: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 700px;
     }
     
     .col__block__stars{
          position: relative;

     }
     
     .swiper {
          width: 345px;
          height: 610px;
          left:-40px;
          margin-top: 450px;
          
     }
     .swiper-slide-next img {
          display: block;
          width: 285px;
          height: 600px;
          text-align: center;
          position: relative;
          margin-left: 200px;
          opacity: 0;
          left:-100%;
          z-index: -1;
          transition: 0.3s;
          
     }

     .swiper-slide-active img {
          display: block;
          width: 285px;
          height: 600px;
          margin-left: 140px;
          opacity: 1;
          transition: 0.3s;
          
     }

     .swiper-slide-next{
          z-index: -1;
          margin-right: 200px;
     }
     .swiper-slide-prev img {
          display: block;
          width: 285px;
          height: 600px;
          opacity: 0;
          text-align: center;
          position: relative;
          margin-left: -200px;
          left: 140%;
          z-index: -1;
          transition: 1s;
     }
     .swiper-slide-prev {
          
     }

}