.block_6 {
    background: #0D0D0D;
    height: 1200px;
    
}
.block_6_text {
    font-family:Arial;
    font-size: 58px;
    color: #fff;
    height: 200px;
}

.block_6_img_6_in{
    background-image: url(../img/block_6/image.png);
    width: 877px;
    height: 590px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.block_6_item{
    margin-top: -110px;
}
.block_6_item_in{
    background: #242424;
    height: 320px;
    border-radius: 4.5px;
}

.block_6_item_in_line_top{
    background-color: #39AAFF;
    height: 8px;
    border-radius: 4.5px;
}
.block_6_item_in_line_top_2{
    background-color: #29D5D5;
    height: 8px;
    border-radius: 4.5px;
}
.block_6_item_in_line_top_3{
    background-color: #4E5EFF;
    height: 8px;
    border-radius: 4.5px;
}


.block_6_item_in_main_text_in{
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
}
.block_6_item_in_btn_text_in{
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin-left: 20px;
    margin-top: 30px;
}

.block_6_item_in_avatar_photo_1 {
    background-image: url(../img/block_6/avatar_item/imade_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 27px;
}
.block_6_item_in_avatar_photo_2 {
    background-image: url(../img/block_6/avatar_item/image_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 27px;
}
.block_6_item_in_avatar_photo_3 {
    background-image: url(../img/block_6/avatar_item/imade_3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 27px;
}
.block_6_item_in_name {
    font-family: Arial;
    font-size: 24px;
    color: #fff;
}

@media (max-width: 992px){
    .block_6_text {
        font-family:Arial;
        font-size: 55px;
        color: #fff;
        height: 200px;
        
    }
    
}
@media (max-width: 768px){
    .block_6_item{
        margin-top: -150px;
    }
    .block_6_item_in_btn_text_in{
        font-family: Arial;
        font-size: 16px;
        color: #fff;
        margin-left: 20px;
        margin-top: 20px;
    }
    .block_6_item_in_main_text_in{
        font-family: Arial;
        font-size: 14px;
        color: #fff;
        margin-left: 20px;
        margin-top: 20px;
    }
}


