.logo_in{
    width: 74px;
    height: 53px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat ;
    background-size: 100%;
}

.header{
    position:fixed;
    background-color:#fff;
    z-index: 1;
    height: 80px;
}
@media (max-width: 992px) {
    .header_btns{
        opacity: 0;
        font-size: 0px;
        height: 0px;
    }
    .in_btns{
        opacity: 0;
        height: 0px;
    }

}
@media (min-width: 992px) {
    .btn_menu{
        opacity: 0;
        height: 0px;
        width: 0px;
    }
    .btn_menu_in{
        height: 0px;
        width: 0px;
        padding: 0px;
        font-size: 0px;
        margin-top: -1500px;
    }
    
}
.row_header{
    background: rgba(255, 255, 255, 90%);
    display: flex;
    position: fixed;
    z-index: 1000;
}
.logo{
    display: flex;
    align-items: center;
    height: 50px;
}
.btns{
    height: 50px;
}
.in_btns{
    height: 50px;
    display: flex;
}
.header_btns{
    font-family: Arial;
    flex-grow: 1;

}
@media  {
    
}
.btn_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


.navigation{
    position:absolute;
    min-width: 100vw;
    z-index: 0;
}
.nav_1{
    position:absolute;
    top: 600px;
    width: 100%;
    height: 5px;
}
.nav_2{
    position:absolute;
    top: 1210px;
    width: 100%;
    height: 5px;
}
.nav_3{
    position:absolute;
    top: 3055px;
    width: 100%;
    height: 5px;
}
.nav_4{
    position:absolute;
    top: 4300px;
    width: 100%;
    height: 5px;
}


@media (min-width:1440px) {
    .nav_1{
        position:absolute;
        top: 600px;
        width: 100%;
        height: 5px;
    }
    .nav_2{
        position:absolute;
        top: 1260px;
        width: 100%;
        height: 5px;
    }
    .nav_3{
        position:absolute;
        top: 3180px;
        width: 100%;
        height: 5px;
    }
    .nav_4{
        position:absolute;
        top: 4350px;
        width: 100%;
        height: 5px;
    }
}

@media (min-width:768px) {
    .nav_1{
        position:absolute;
        top: 650px;
        width: 100%;
        height: 5px;
        
    }
    .nav_2{
        position:absolute;
        top: 1100px;
        width: 100%;
        height: 5px;
        
    }
    .nav_3{
        position:absolute;
        top: 3100px;
        width: 100%;
        height: 5px;
        
    }
    .nav_4{
        position:absolute;
        top: 4250px;
        width: 100%;
        height: 5px;
        
    }
}
@media (min-width:1024px) {
    .nav_1{
        position:absolute;
        top: 650px;
        width: 100%;
        height: 5px;
    }
    .nav_2{
        position:absolute;
        top: 1150px;
        width: 100%;
        height: 5px;
    }
    .nav_3{
        position:absolute;
        top: 3055px;
        width: 100%;
        height: 5px;
    }
    .nav_4{
        position:absolute;
        top: 4250px;
        width: 100%;
        height: 5px;
    }
}

@media (min-width:1200px) {
    .nav_1{
        position:absolute;
        top: 600px;
        width: 100%;
        height: 5px;
    }
    .nav_2{
        position:absolute;
        top: 1260px;
        width: 100%;
        height: 5px;
    }
    .nav_3{
        position:absolute;
        top: 3180px;
        width: 100%;
        height: 5px;
    }
    .nav_4{
        position:absolute;
        top: 4350px;
        width: 100%;
        height: 5px;
    }
}