.modal-header-castom{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
}
.btn-clear {
  background-color: rgb(255, 255, 255, 0%);
  color: #000;
  border-color: rgb(255, 255, 255, 0%);
  font-size: 18px;
  font-family: 'Arial';
}
.btn-clear:active{
  background-color: rgb(255, 255, 255, 0%);
  color: #000;
  border-color: rgb(255, 255, 255, 0%);
  font-size: 18px;
  font-family: 'Arial';
}
.btn-clear:hover{
  background-color: rgb(255, 255, 255, 0%);
  color: #000;
  border-color: rgb(255, 255, 255, 0%);
  font-size: 18px;
  font-family: 'Arial';
}


.modal-body-castoms{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
}
.modal-body-castoms_in{
  width: 400px;
  height: 350px;
  margin-bottom: 30px;
  display:flex;
  justify-content: center;
  align-items:start ;
}

.inputs_form{
  width: 250px;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.inputs_form_in_number{
  border: solid rgba(48, 48, 48, 0.8);
  border-radius: 5.8px;
  height: 30px;
  font-size: 18px;
  padding: 10px;
}
.inputs_form_in_password{
  border: solid rgba(48, 48, 48, 0.8);
  margin-top:10px;
  border-radius: 5.8px;
  height: 28px;
  font-size: 18px;
  padding: 10px;
}
.inputs_bottom_btn{
  display: flex;
  justify-content: center;
}

.modal_header_logo_img{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  margin-top:20px;
}
.modal_header_logo_img_in{
  width: 150px;
  height: 102px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.modal_header_text{
  margin-bottom:10px;
  font-family: Arial ;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.inputs_bottom_btn_in{
  width: 130px;
  background-color: #fff;
  border: solid rgba(0, 0, 0, 0.8);
  border-radius:5.8px;
  padding: 5px;
}